<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Répertoire téléphonique</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
	  <h1 style="background-color:#6E6E6E;">Répertoire téléphonique </h1>
		<h2 style="color:#6E6E6E;">Ajouter un numéro:</h2>
		<form action="{{ url_for('ajout_num') }}"method="post">
				<p>Nom : <input type = "text" name = "nom" required/> Numéro de téléphone : +33<input type="text" minlength="9" maxlength="9" name="numtel" required/>
				<input type = "submit" value = "Valider" style=" color:#F7F8E0; background-color:#6E6E6E; border-radius: 15%; border: black 10px double; font-size: 20px"/><br></p>
		</form>

	</body>
	<footer> <input type=button onclick=window.location.href="{{ url_for('menu') }}"; value= "Retourner au Menu"; style="color:#F7F8E0; background-color:#6E6E6E; width: 250px; height: 70px; border-radius: 15%; border: black 10px double; font-size: 20px; margin:15px 15px;"/>
	</footer>
</html>
