<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Répertoire téléphonique</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
	  <h1 style="background-color:#6E6E6E;">Répertoire téléphonique </h1>
		<h2 style="color:#6E6E6E;">Voici tous les contacts</h2>
		<form>
				<table style="margin-left:500px; border: 10px;">
				   <tr>
				       <th>ID</th>
				       <th>Nom</th>
				       <th>Numéro</th>
				   </tr>

					 <tr>
				       <td>{{contenu[0][0]}}</td>
				       <td>{{contenu[0][1]}}</td>
				       <td>+33 {{contenu[0][2]}}</td>
				   </tr>
				   <tr>
				       <td>{{contenu[1][0]}}</td>
				       <td>{{contenu[1][1]}}</td>
				       <td>+33 {{contenu[1][2]}}</td>
				   </tr>
				   <tr>
				       <td>{{contenu[2][0]}}</td>
				       <td>{{contenu[2][1]}}</td>
				       <td>+33 {{contenu[2][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[3][0]}}</td>
				       <td>{{contenu[3][1]}}</td>
				       <td>+33 {{contenu[3][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[4][0]}}</td>
				       <td>{{contenu[4][1]}}</td>
				       <td>+33 {{contenu[4][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[5][0]}}</td>
				       <td>{{contenu[5][1]}}</td>
				       <td>+33 {{contenu[5][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[6][0]}}</td>
				       <td>{{contenu[6][1]}}</td>
				       <td>+33 {{contenu[6][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[7][0]}}</td>
				       <td>{{contenu[7][1]}}</td>
				       <td>+33 {{contenu[7][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[8][0]}}</td>
				       <td>{{contenu[8][1]}}</td>
				       <td>+33 {{contenu[8][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[9][0]}}</td>
				       <td>{{contenu[9][1]}}</td>
				       <td>+33 {{contenu[9][2]}}</td>

				   </tr>
				   <tr>
				       <td>{{contenu[10][0]}}</td>
				       <td>{{contenu[10][1]}}</td>
				       <td>+33 {{contenu[10][2]}}</td>

				   </tr>
				</table><br>

	</body>
	<footer> <input type=button onclick=window.location.href="{{ url_for('menu') }}"; value= "Retourner au Menu";
	  style="color:#F7F8E0; background-color:#6E6E6E; width: 250px; height: 70px; border-radius: 15%; border: black 10px double; font-size: 20px; margin:15px 15px;"/>
	</footer>
</html>
